<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level</key>
	<integer>1</integer>
	<key>energyrange</key>
	<integer>100</integer>
	<key>maxenergy</key>
	<integer>100</integer>
	<key>energy_growth_rate</key>
	<real>0.2</real>
	<key>facebook_login_energy_reward</key>
	<integer>100</integer>
	<key>facebook_login_exp_reward</key>
	<integer>10</integer>
	<key>twitter_login_energy_reward</key>
	<integer>100</integer>
	<key>twitter_login_exp_reward</key>
	<integer>10</integer>
	<key>expa</key>
	<integer>0</integer>
</dict>
</plist>
